.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.login-popup-container{
    place-self: center;
    display: flex;
    flex-direction: column;
    background-color:#d8e2dc;
    width: max(23vw,330px);
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 13px;
    animation: fadeIn 0.3s;
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 20px;
}
.login-popup-title img{
    cursor: pointer;
    width: 17px;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input{
    outline: none;
    border: 2px solid black;
    padding: 10px;
    border-radius: 6px;
}
.login-popup-inputs input::placeholder{
    color: tomato;
}

.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
}
.login-popup-container button:hover{
    background-color: navy;
    color: white;
    cursor: pointer;
}

.login-popup-condition{
    display: flex;
    align-items: start;
    font-weight: 400;
    gap: 8px;
    margin-top: -15px;
}
.login-popup-condition input{
    margin-top: 5px;
}
.login-popup p{
    display: flex;
    justify-content: center;
    font-weight: 400;
    align-items: center;
}
.login-popup p span{
    color: tomato;
    font-weight: 600;
    cursor: pointer;
}